<% include base/head %>
<% include base/header %>

  <main>
    <% if (thingsData.length) { %>
      <ul>
      <% for (var i = 0; i < thingsData.length; i++) { %>
        <p><%= thingsData[i].thing %></p>
        <p><%= thingsData[i].type %></p>
      <% } %>
      </ul>
    <% } %>
  </main>

<% include base/footer %>
