<% include base/head %>
<% include base/header %>

  <main>
    <ul>
      <% for (var i = 0; i < data.length; i++) { %>
          <li>
            <p>Book: <strong><%= data[i].title %></strong>, has <strong><%= data[i].pages %></strong> pages</p>
          </li>
      <% } %>
    </ul>
  </main>

<% include base/footer %>
