<% include base/head %>
<% include base/header %>

  <main>
    <form class="" action="/login" method="post" class="login">
      <% if (err.length) { %>
        <p><%= err %></p>
      <% } %>
      <fieldset>
        <legend class="login--title">Login</legend>
        <label for="email" class="login--label">Enter your email</label>
        <input type="email" id="email" name="email" class="login--input">

        <label for="password" class="login--label">Enter your password</label>
        <input type="password" id="password" name="password" class="login--input">

        <button type="submit" name="button">Login</button>
      </fieldset>
    </form>

    <%# <a href="/login/sign-up">Sign-up</a>%>
  </main>

<% include base/footer %>
